$orange: #fd8c09;

$yellow-gradient: linear-gradient(90deg, #fd8b09 0.01%, #f6b820 100%);

$light-blue-gradient: linear-gradient(81.82deg, #4388fc 6.48%, #08caff 107.81%);

$blue-gradient: linear-gradient(285.04deg, #408dfd 24.33%, #13bfff 98.5%);

$dark-blue: #3484f0;

$green-gradient: linear-gradient(81.82deg, #2da337 6.48%, #23c631 107.81%);

$white: #ffffff;
