@mixin heading-1() {
  font-weight: 600;
  font-size: 54px;
  line-height: 130%;

  @content;
}

@mixin heading-2() {
  font-weight: 600;
  font-size: 35px;
  line-height: 130%;

  @content;
}

@mixin heading-3() {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @content;
}

@mixin paragraph-1() {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  
  @content;
}

@mixin paragraph-2() {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @content;
}

@mixin paragraph-3() {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 18x;
  line-height: 27px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @content;
}
