@import "_colors.scss";
@import "_typography.scss";

/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }
  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
}
/**/

/*general*/
section {
  margin-bottom: 50px;
  margin-top: 50px;
}

.section-2 .content,
.section-3 .content,
.section-5 .content,
.section-8 .content,
.section-9 .content,
.section-9 .testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .section-8 .content,
  .section-9 .content {
    width: 800px;
  }
}

.whatsapp-float {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;

  img {
    max-width: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .column-reverse {
    flex-direction: column-reverse;
  }
}
/*general*/

/*button*/
.btn {
  display: inline-flex;
  border-radius: 26px;
  height: 52px;
  padding: 0 30px;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 136%;
  align-items: center;
  margin-bottom: 60px;
  font-size: 13px;
  transition: all 0.8s ease;

  p {
    max-width: 305px;
  }

  &:hover {
    filter: brightness(1.4);
  }

  &.btn-whatsapp {
    background: $green-gradient;
    gap: 10px;

    img {
      max-width: 26px;
    }
  }

  &.btn-cta-yellow,
  &.btn-submit {
    background: $yellow-gradient;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 305px;
  }

  &.btn-cta-blue {
    background: $blue-gradient;
  }
}
/*button*/

/*text*/
h1 {
  @include heading-1();
}

h2 {
  @include heading-2();
}

h3 {
  @include heading-3();
}

.text-1 {
  @include paragraph-1();
}

.text-2 {
  @include paragraph-2();
}

.text-3 {
  @include paragraph-3();
}

span {
  color: $orange;
}

.content .text-1:nth-of-type(2),
.content .text-2:nth-of-type(2) {
  margin-top: 25px;
  margin-bottom: 38px;
}

.content .text-1 {
  margin-top: 45px;
}

section .content .text-2,
section .content-2 .text-2 {
  margin-top: 30px;
  margin-bottom: 38px;
  max-width: 50.75rem;
}
/*text*/

/*header*/
.menu {
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 825px) {
  .whatsapp-float {
    display: inline-flex;
    justify-content: center;
  }
  .menu {
    justify-content: center;

    .header-btn {
      .btn-whatsapp {
        display: none;
      }
      .btn-cta-yellow {
        display: none;
      }
    }
  }
}
/*header*/

/*section-1*/
.hero-image {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .hero-image {
    max-width: 100%;
  }
}
/*section-1*/

/*section-2*/
@media screen and (min-width: 1320px) {
  .section-2 {
    background-image: url(/assets/img/about-us-image.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
  }
}

.section-2 .content {
  margin-bottom: 130px;

  p {
    max-width: 694px;
    max-height: 72px;
  }
}

.section-2 .content-2 .text-2 {
  max-width: 27.375rem;
}

@media screen and (max-width: 991px) {
  .section-2 .content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.col-swiper-about-us {
  background-image: url(../assets/img/about-us-geometric-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;

  .swiper {
    max-width: 40rem;
    height: 100%;
    padding-bottom: 6rem;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 30rem;
        max-height: 30rem;
        object-fit: contain;
      }
    }

    .slider-arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 95%;
      transition: all 0.7s ease;
      padding: 21px;
      border-radius: 50%;

      &:hover {
        filter: brightness(1.2);
      }
    }

    .swiper-button-prev {
      left: unset;
      right: 52%;
      color: $orange;
      background-color: $white;
    }

    .swiper-button-next {
      left: 52%;
      right: unset;
      color: $white;
      background: $yellow-gradient;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 12px;
      font-weight: 600;
    }
  }
}
/*section-2*/

/*section-3*/
.image {
  display: flex;
  justify-content: center;
  .rocket-image {
    width: 80%;
    margin-bottom: 63px;
  }
}

@media screen and (max-width: 991px) {
  .image {
    .rocket-image {
      width: 100%;
    }
  }
}
/*section-3*/

/*section-4*/
.statistic-box {
  max-width: 362px;
  max-height: 278px;
  text-align: center;
  padding: 35px 30px;
  margin: 20px auto;
  box-shadow: 0px 4px 50px rgba(122, 122, 122, 0.12);
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .statistic-data {
    margin: 10px 0;
    font-size: 35px;
    max-width: 180px;
  }

  .statistic-description {
    width: 180px;
  }
}

@media screen and (max-width: 425px) {
  .statistic-box {
    p {
      font-size: 14px;
    }
  }
}
.statistic-icon {
  max-width: 68px;
}
/*section-4*/

/* section-5 */
.services-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 26px;
  background: $light-blue-gradient;
  margin-top: 130px;

  .service-box-column {
    padding: 0 !important;
  }

  .service-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    border-radius: 26px;
    height: 100%;
    transition: 0.7s cubic-bezier(0.4, 0, 1, 1);
    cursor: pointer;

    h3 {
      font-size: 20px;
      font-weight: 600;
      color: $white;
      font-family: "Poppins";
      text-transform: capitalize;
    }

    img {
      max-width: 80px;
      margin-bottom: 25px;
    }

    &:hover {
      background: $yellow-gradient;
      transform: scale(1.3);
      border-radius: 17px 17px 66px 17px;
    }
  }
}

@media screen and (max-width: 991px) {
  .services-row {
    background: none;

    .service-box {
      background: $light-blue-gradient;
      margin-bottom: 80px;
    }
  }
}

.section-5 .row:nth-of-type(3) .content {
  margin: 40px 0;
}
/* section-5*/

/*section-6*/
.section-6 .content .text-2 {
  width: 80%;
}

.section-6 .content .title {
  width: 80%;
}

@media screen and (max-width: 991px) {
  .section-6 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/*section-6*/

/*section-7*/
.section-7 {
  background-image: url(/assets/img/geometric-image-2.png);
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 100% -20%;
  padding: 100px 0;
  position: relative;

  .swiper {
    max-width: 40rem;
    height: 30rem;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 26rem;
        max-height: 30rem;
        object-fit: contain;
        border-radius: 5%;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: $white !important;
      background: $yellow-gradient;
      transform: matrix(0, 1, 1, 0, 0, 0);
      left: auto;
      right: 10px;
      padding: 28px;
      transition: all 0.7s ease;

      &:hover {
        filter: brightness(1.2);
      }
    }

    .swiper-button-prev {
      top: 39%;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 10px !important;
    }
  }
}
.company-icon {
  max-width: 123px;
}
.testimonial-column {
  padding: 94px 0 0 0;
}
.testimonial-column-blue {
  background-color: $dark-blue;
  color: $white;
}

.testimonial-column-gradient {
  position: relative;
  z-index: 1;
}
.testimonial-column-gradient::after {
  z-index: -1;
  content: "";
  background: linear-gradient(
    220.36deg,
    rgba(25, 112, 129, 0.32) 0%,
    rgba(247, 247, 249, 0) 64.63%
  );
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.section-7 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  text-align: center;

  p {
    max-width: 70%;
  }
}

.company-row {
  justify-content: center;
  align-items: center;
  margin: 0 0 26px 0;
}

.company-box {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background: $white;
  height: 70px;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  display: none;
}

@media screen and (min-width: 991px) {
  .square {
    display: block;
    margin: 0 auto;
    bottom: 1%;
    right: 44%;
    background-color: #cce8ff;
    padding: 40px;
    border-radius: 34px;
    transform: rotate(45deg);
    position: absolute;

    img {
      transform: rotate(-45deg);
    }
  }

  .box-bottom {
    margin-top: 50px;
  }
}

@media screen and (max-width: 990px) {
  .section-7 {
    padding: 0 0;
  }

  .company-box {
    margin: 0 auto 50px auto;
    width: 50%;
    min-height: 16rem;
  }
}
/*section-7*/

/*section-8*/
@media screen and (min-width: 725px) {
  iframe {
    width: 80%;
    height: 100vh;
  }
}

@media screen and (max-width: 724px) {
  iframe {
    width: 100%;
    height: 50vh;
  }
}

.video {
  display: flex;
  justify-content: center;
}
/*section-8*/

/*section-9*/
.swiper-testimonial-2 {
  padding: 6rem 0 !important;

  .swiper-pagination-bullet {
    background-color: $white;
    border: 1px solid $orange;
  }

  .swiper-pagination-bullet-active {
    background-color: $orange;
  }

  .testimonial {
    background: #f9f9f9;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;
    justify-content: center;
    padding: 60px 20px;
    max-height: 240px;
    .text {
      font-size: 13px;
      max-width: 320px;
    }
    .name {
      font-size: 15.4px;
      margin-bottom: 10px;
    }
    .img {
      position: absolute;
      top: -4rem;

      .testimonial-image {
        max-width: 92px;
      }
    }
  }
}
/*section-9*/

/*footer*/
footer {
  background-image: url(/assets/img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-position: center;
}

@media screen and (min-width: 1250px) {
  footer {
    background-image: url(/assets/img/phone-bg.png),
      url(/assets/img/contact-bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, cover;
    position: relative;
    z-index: 1;
    background-position: -17% -114px, center;
  }
}
footer::after {
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}

footer .content,
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $white;
  text-align: center;
  margin-top: 38px;
}

footer .content h2 {
  margin-top: 32px;
}

footer .content p {
  max-width: 48.5rem;
}

.copyright-image {
  max-width: 103px;
  margin-bottom: 18px;
}
.copyright-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
  color: $white;
}

.name,
.email,
.phone {
  min-width: 38.75rem;
  height: 62px;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .name,
  .email,
  .phone {
    min-width: 100%;
  }
}

form {
  margin-bottom: 50px;
}

input::placeholder {
  padding-left: 15px;
}
/*footer*/
